* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background: url(https://i.pinimg.com/originals/a4/22/9a/a4229a483cf76e0b5458450c2e591ff3.png);
    background-size: auto;
    font-family: 'Audiowide', cursive;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

h3 {
    text-align: center;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#board img:hover {
    animation: shake .75s;
    animation-iteration-count: infinite;
}

#Player1 > div, #Player2 > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    justify-self: center;
    align-items: center;
    color: gray;
    background-color: rgba(27, 27, 27, 0.8);
    border-radius: 20px;
}

#Player1 {
    grid-column: 1;
    grid-row: 3;
    align-items: center;
}

#Player2 {
    grid-column: 1;
    grid-row: 1;
    align-items: center;

}

#Player1, #Player2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.player-msg {
    text-align: center;
}

.player-msg button{
    margin: 5px;
}

/* Classes applied to active player and loser/winner. Changes every time a move is made. */
.active-player h2 {
    color: gold;
    text-decoration: underline;
}

.active-player div {
    color: gold;
}

.lost {
    color: red;
    text-decoration: line-through;
}
/* End of classes intended for active player/winner. */

#board-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    background: url(https://t4.ftcdn.net/jpg/00/85/19/41/360_F_85194107_hXtWOTU94BoL4DophssIonn78FNKP0dw.jpg);
    background-size: cover;
    box-shadow: 20px 20px 10px rgba(27, 27, 27, 0.8);

}

#board {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    background: gray;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 6px 6px 2px rgba(27, 27, 27, 0.8);

}

.board-cell {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.board-cell img {
    width: 80%;
}


.light {
    background-color: tan;
}

.dark {
    background-color: brown;
}


/* Classes created for highlighting player moves. */
@keyframes pulseHighlighted {
    0%, 100% {
        background-color: rgba(255, 217, 0, 0.8);
    }
    50% {
        background-color: rgba(255, 217, 0, 0.3);
    }
}

.highlighted {
    animation: pulseHighlighted 3s infinite;
    width: 100%;
    height: 100%;
    margin: auto;
}

@keyframes pulseTarget {
    0%, 100% {
        background-color: rgba(255, 0, 0, .7);
    }
    50% {
        background-color: rgba(255, 0, 0, .4);
    }
}

.target {
    animation: pulseTarget 3s infinite;
}

/* End of classes intended for highlighting player moves */